HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=<API_KEY>
HELIUS_WS_URL=wss://mainnet.helius-rpc.com/?api-key=<API_KEY>
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/<ID>/<TOKEN>
DING_TEST_SIGNATURE=8UhRGNFLPzfSwsvVA5LFD7fpxdXxf9drCHn92GA4eJCfNXHDLM9ptgc8FfGi3EM1gQCB9fRzNrsECDh1ofrJRpA
