HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=<API_KEY>
HELIUS_WS_URL=wss://mainnet.helius-rpc.com/?api-key=<API_KEY>
DING_WS_MODE=enhanced
DING_FEE_ACCOUNT=98Ni7vVRR1tggtWWruPVcfFXHTH11bPbNryJZGkCGvaD
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/<ID>/<TOKEN>
DING_TEST_SIGNATURE=
